
/***********************************************General */
body {
  font-family: "Open Sans", sans-serif;
  display: grid;
  place-items: center;
}

h1, h2, h3 {
  font: 500 1.25rem "Lobster", cursive;
  margin-top: 20px;
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}
/**************************************************** */






/********************************************* Footer */
.site-footer {
  color: rgb(31, 29, 29);
  /* background-image: linear-gradient(#255d00, white); */
  background-color: white;
  padding: 20px 0;
  border-top: 1px solid rgba(5, 78, 11, 0.3);
}
/**************************************************** */








/***********************************************Jumbotron */
.jumbotron {
  margin: 0;
  padding: 30px;
  background-image: linear-gradient(to right, #255d00, #4caf50, #F1F8E9);
  color: white;
}

.jumbotron h2 {
  color: white;
}
/**************************************************** */







/**********************************************NavBAr */
.navbar-light {
  background-color:white;
  border-bottom: 1px solid rgba(5, 78, 11, 0.3);
}

.nav-link i {
  color: grey;
}


/**************************************************** */







/********************************************* Card */
.card {
  border: 1px solid #558b2f;
  border-radius: 15px;
  display: inline-block;
  flex-direction: column;
  position: relative;
  box-shadow: 2px 2px 2px rgba(5, 78, 11, 0.3);
  margin-top: 15px;
  margin-bottom:15px;
}

.card-title {
  font: 500 1.25rem "Lobster", cursive;
}

.card-img-overlay .card-title {
  color: white;
  background-color: rgba(26, 97, 17, 0.5);
}

.card-img {
  border-radius: 15px;
}
/* *********************************************** */