body {
  font-family: "Open Sans", sans-serif;
  display: grid;
  place-items: center;
}

.card-title {
  font: 500 1.25rem "Lobster", cursive;
}

.card-img-overlay .card-title {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.card {
  border: 1px solid gray;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  position: relative;
  box-shadow: 2px 2px 2px rgba(0,0,0,.3);
}

